body {
    
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    border: dashed black 1px;
}

nav {
    border: dashed green 1px;
}

main{
    display: flex;
    flex-direction: column;
    border: dashed blue 1px;
}

ul {
    display: flex;
}

li{
    margin-left: 10px;
}

figure{
    border: dashed orange 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    margin: auto;
    display: block;
}

figcaption{
    text-align: center;
}


h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 24px;
    text-align: center;
}

table {
    margin-right: auto;
    margin-left: auto;
    border: solid black 2px;
    width: 50%;
}

th {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px;
}

td {
    border: dotted grey 1px;
    padding: 10px;
}

footer p{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}